{% extends "base.html" %}

{% block title %}
Новости - {{ block.super }}
{% endblock %}

{% block content %}
<h2>Новости</h2>
{% if news_articles %}
    <ul>
        {% for article in news_articles %}
            <li>
                <h3><a href="{% url 'news:detail' pk=article.pk %}">{{ article.title }}</a></h3>
                <p><em>Опубликовано: {{ article.pub_date|date:"d.m.Y" }}</em></p>
                <p>{{ article.content|truncatewords:50 }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Новостей пока нет.</p>
{% endif %}
{% endblock %}
