{% extends "base.html" %}
{% load static %}

{% block title %}
Главная - {{ block.super }}
{% endblock %}

{% block page_header %}
    <header>
        <div class="header-content">
            <div class="header-pre-title">Муниципальное автономное учреждение дополнительного образования города Калининграда</div>
            <h1><a href="/">Станция Юных Техников</a></h1>
            <div class="header-post-title">236006, Калининград, Московский проспект, 98 · тел. +7 (4012) 97 33 96 · email: gsyut@edu.klgd.ru</div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="main-content-grid">
    <aside class="sidebar-banners">
        <div class="banners-container">
            <a href="https://edu.gov.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/min_prosveshhenija.jpg" %}" alt="Официальный сайт министерства просвещения России"></a>
            <a href="https://minobrnauki.gov.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/min_nauki.jpg" %}" alt="Официальный сайт министерства науки и высшего образования"></a>
            <a href="https://obrnadzor.gov.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/rosobrnadzor.jpg" %}" alt="Официальный сайт Рособрнадзора"></a>
            <a href="https://edu.gov39.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/minobr_ko.jpg" %}" alt="Официальный сайт министерства образования Калининградской области"></a>
            <a href="https://www.klgd.ru/activity/education/" target="_blank" class="banner-link"><img src="{% static "img/banners/komitet.jpg" %}" alt="Официальный сайт комитета по образованию г.Калининграда"></a>
            <a href="https://www.gosuslugi.ru" target="_blank" class="banner-link"><img src="{% static "img/banners/gosuslugi.png" %}" alt="Портал госуслуги"></a>
            <a href="https://klgd.pfdo.ru/app" target="_blank" class="banner-link"><img src="{% static "img/banners/pfdo.jpg" %}" alt="Портал ПФДО"></a>
            <a href="https://may9.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/80_let_POBEDY.JPG" %}" alt="80 лет Победы"></a>
            <a href="https://telefon-doveria.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/telefon_doveria.png" %}" alt="Баннер телефон доверия"></a>
            <a href="https://bus.gov.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/bas_gof.jpg" %}" alt="Официальный сайт для размещения информации об учреждениях"></a>
            <a href="https://social.gov39.ru/activities/nezavisimaya-otsenka-kachestva-predostavleniya-uchrezhdeniyami-sotsialnykh-uslug/" target="_blank" class="banner-link"><img src="{% static "img/banners/ocenka.jpg" %}" alt="Независимая оценка качества условий оказания услуг организациями"></a>
            <a href="https://мвд.рф/anticorr" target="_blank" class="banner-link"><img src="{% static "img/banners/prot_korrupcii.jpg" %}" alt="Противодействие коррупции"></a>
            <a href="http://pravo.gov.ru" target="_blank" class="banner-link"><img src="{% static 'img/banners/gspi.png' %}" alt="Официальный интернет-портал правовой информации"></a>
            <a href="https://edu.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/ros_obrazovanie.jpg" %}" alt="Федеральный портал Российское образование"></a>
            <a href="http://school-collection.edu.ru/catalog/" target="_blank" class="banner-link"><img src="{% static "img/banners/ekcor.jpg" %}" alt="Единная коллекция цифровых образовательных ресурсов"></a>
            <a href="http://fcior.edu.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/obr_resursy.jpg" %}" alt="Федеральный центр информационно-образовательных ресурсов"></a>
            <a href="https://histrf.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/history.jpg" %}" alt="Федеральный портал История России"></a>
            <a href="https://достижения.рф/" target="_blank" class="banner-link"><img src="{% static "img/banners/dostizhenia.png" %}" alt="Портал Достижения России"></a>
            <a href="https://pro.culture.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/eip_kult.jpg" %}" alt="Портал «Единое информационное пространство в сфере культуры»"></a>
            <a href="https://www.culture.ru/" target="_blank" class="banner-link"><img src="{% static "img/banners/kultnasledie.jpg" %}" alt="ПОРТАЛ КУЛЬТУРНОГО НАСЛЕДИЯ И ТРАДИЦИЙ РОССИИ"></a>
        </div>
    </aside>
    <main class="main-content">
        <div id='js-show-iframe-wrapper'>
            <div class='pos-banner-fluid bf-23'>

                <div class='bf-23__decor'>
                    <div class='bf-23__logo-wrap'>
                        <img class='bf-23__logo' src='https://pos.gosuslugi.ru/bin/banner-fluid/gosuslugi-logo-blue.svg'
                            alt='Госуслуги' />
                        <div class='bf-23__slogan'>Решаем вместе</div>
                    </div>
                </div>
                <div class='bf-23__content'>
                    <div class='bf-23__text'>
                        Есть предложения по организации учебного процесса или знаете, как сделать нас лучше?
                    </div>

                    <div class='bf-23__bottom-wrap'>
                        <div class='bf-23__btn-wrap'>
                            <!-- pos-banner-btn_2 не удалять; другие классы не добавлять -->
                            <button class='pos-banner-btn_2' type='button'>Написать о проблеме
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <section class="accordion-section">
            <div class="accordion">
                <details>
                    <summary>Основные сведения</summary>
                    <div class="accordion-content">
                        <div class="info-text">
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Полное наименование учреждения</span>
            </div>
            <div class="info-text--answer">
                <span>Муниципальное автономное учреждение дополнительного образования города Калининграда Станция юных
                    техников</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Краткое наименование учреждения</span>
            </div>
            <div class="info-text--answer">
                <span>МАУДО СЮТ</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Дата создания</span>
            </div>
            <div class="info-text--answer">
                <span>01.09.1976</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Сведения об учредителе</span>
            </div>
            <div class="info-text--answer">
                <span>Администрация городского округа «Город Калининград»</span> <span>Функции и полномочия Учредителя
                    осуществляет комитет по образованию администрации городского округа «Город Калининград»</span>
                <span>Адрес: 236000, г. Калининград, ул. Чайковского, 50/52</span>
                <span>Контактные телефоны: <a href="tel:+74012924009">+7(4012) 92-40-09</a>; <br>тел./факс: <a
                        href="tel:+74012924062">+7(4012) 92-40-62</a></span>
                <span>E-mail: <a href="mailto:cityedu@klgd.ru">cityedu@klgd.ru</a></span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Адрес</span>
            </div>
            <div class="info-text--answer">
                <span>236006, Россия, г. Калининград, Московский проспект, д.98</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Режим и график работы</span>
            </div>
            <div class="info-text--answer">
                <span>Станции: Ежедневно с 8:00 до 20:00</span>
                <span>Администрации: Понедельник-Пятница с 9:00-18:00, обед 13:00-14:00</span>
                <span>Кроме государственных праздников.</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Официальный сайт</span>
            </div>
            <div class="info-text--answer">
                <span><a href="https://sut39.ru/" target="_blank" rel="noopener noreferrer">https://sut39.ru/</a></span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>E-mail</span>
            </div>
            <div class="info-text--answer">
                <span><a href="mailto:gsyut@edu.klgd.ru">gsyut@edu.klgd.ru</a></span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Телефоны</span>
            </div>
            <div class="info-text--answer">
                <span>Директор <a href="tel:+74012973396">+7(4012) 97-33-96 доб.103</a></span>
                <span>Приёмная <a href="tel:+74012973396">+7(4012) 97-33-96</a></span>
                <span>Заместитель директора <a href="tel:+74012973395">+7(4012) 97-33-95 доб.104</a></span>
                <span>Заведующий хозяйством <a href="tel:+74012973395">+7(4012) 97-33-95 доб.100</a></span>
                <span>Бухгалтерия <a href="tel:+74012973396">+7(4012) 97-33-96 доб.105</a></span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Места осуществления образовательной деятельности</span>
            </div>
            <div class="info-text--answer">
                <span>СЮТ - Московский проспект, д. 98</span>
                <span>Гимназия №22 - Солнечный б-р, д. 5</span>
                <span>Лицей №17 - ул. Серпуховская, д. 28</span>
                <span>Лицей №35 - ул. Маршала Баграмяна, д. 34</span>
                <span>СОШ №4 - ул. К.Маркса, д. 65</span>
                <span>СОШ №7 - ул. Горького, д. 66</span>
                <span>СОШ №13 - ул. Свердлова, д. 27</span>
                <span>СОШ №24 - ул. Пионерская, д. 9</span>
                <span>ДС №101 - ул. Пролетарская, д. 64</span>
                <span>ДС №101 - ул. Генерала Соммера, д. 27А</span>
                <span>ДС №133 - ул. Куприна, д. 17</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Лицензия на осуществление образовательной деятельности</span>
            </div>
            <div class="info-text--answer">
                <span>№ ДО-1762 от 28.06.2021, срок действия - бессрочно</span>
            </div>
        </div>
        <div class="info-text--item">
            <div class="info-text--ask">
                <span>Государственной аккредитации образовательной деятельности по реализуемым образовательным
                    программам</span>
            </div>
            <div class="info-text--answer">
                <span>Нет</span>
            </div>
        </div>
    </div>
                    </div>
                </details>
                <details open>
                    <summary>Новости</summary>
                    <div class="accordion-content">
                        <p>Содержимое для новостей.</p>
                    </div>
                </details>
                <details open>
                    <summary>Объявления</summary>
                    <div class="accordion-content">
                        <p>Содержимое для объявлений.</p>
                    </div>
                </details>
            </div>
        </section>
    </main>
</div>
{% endblock %}