{% extends "base.html" %}
{% load static %}

{% block title %}
Главная - {{ block.super }}
{% endblock %}

{% block page_header %}
    <header>
        <div class="header-content">
            <div class="header-pre-title">Муниципальное автономное учреждение дополнительного образования города Калининграда</div>
            <h1><a href="/">Станция Юных Техников</a></h1>
            <div class="header-post-title">236006, Калининград, Московский проспект, 98 · тел. +7 (4012) 97 33 96 · email: gsyut@edu.klgd.ru</div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="main-content-grid">
    <main class="main-content">
        <div id='js-show-iframe-wrapper'>
            <div class='pos-banner-fluid bf-23'>

                <div class='bf-23__decor'>
                    <div class='bf-23__logo-wrap'>
                        <img class='bf-23__logo' src='https://pos.gosuslugi.ru/bin/banner-fluid/gosuslugi-logo-blue.svg'
                            alt='Госуслуги' />
                        <div class='bf-23__slogan'>Решаем вместе</div>
                    </div>
                </div>
                <div class='bf-23__content'>
                    <div class='bf-23__text'>
                        Есть предложения по организации учебного процесса или знаете, как сделать нас лучше?
                    </div>

                    <div class='bf-23__bottom-wrap'>
                        <div class='bf-23__btn-wrap'>
                            <!-- pos-banner-btn_2 не удалять; другие классы не добавлять -->
                            <button class='pos-banner-btn_2' type='button'>Написать о проблеме
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <section class="accordion-section">
            <div class="accordion">
                <details>
                    <summary>Информация и документы</summary>
                    <div class="accordion-content">
                        <p>Содержимое для информации и документов.</p>
                    </div>
                </details>
                <details open>
                    <summary>Новости</summary>
                    <div class="accordion-content">
                        <p>Содержимое для новостей.</p>
                    </div>
                </details>
                <details open>
                    <summary>Объявления</summary>
                    <div class="accordion-content">
                        <p>Содержимое для объявлений.</p>
                    </div>
                </details>
            </div>
        </section>
    </main>
    <aside class="sidebar-banners">
        <div class="banners-container">
            {% for i in "123456789abc" %}
            <a href="#" class="banner-link">
                <img src="{% static 'img/ph360x120.png' %}" alt="Баннер {{ forloop.counter }}">
            </a>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock %}